*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-sarif';
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #2b323c;
    color : #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

span{
    color: #fff724;
}